<!DOCTYPE html>
<html>
<head>
    <title>Richmond Regional Near Miss Dashboard</title>
    <!-- style settings -->
    <meta name="description" content="Map your transportation incidents and hazards.">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <!-- my css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <!-- leafelet -->
    <!-- necessary for map to render in right spot -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- necessary for map to render in right spot -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css">
    <!-- bootstrap -->
    <!-- necessary for  ?-->
    <link rel="stylesheet" href="/static/bootstrap-slider/css/bootstrap-slider.min.css">
    <!-- necessary for bootstrap icons  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <!-- my css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <style>
        body, .navbar, .navbar-brand, .nav-link, button {
            font-family: 'Montserrat', sans-serif;
        }
        .navbar {
            width: 100%;
        }
    </style>
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        h1 {
            width: 100%;
            text-align: center;
            margin: 20px 20px 0 0;
        }
        .custom-icon {
            font-size: 24px;
            opacity: 0.5;
            border: none !important; 
            padding: 0;   
            margin: 0;    
            background: none !important;
            box-shadow: none !important; 
        }
        .icon-red  { color: #C84107; }
        .icon-orange  { color: #EE810E; }
        .icon-yellow  { color: #FBB92C; }
        .btn-container {
            margin: 10px;
        }
        .btn {
            margin: 5px;
        }
        .custom-hr {
            height: 5px;
            background-color: #D0C126;
            border: none; /* Removes the default border */
        }
        #map {
            height: 600px;
            width: 100%;
        }
        .step {display: none; }
        .step.active {display: block;}
        .leaflet-div-icon {
            background: none !important;
            border: none !important;
            box-shadow: none !important;
            padding: 0 !important;
            margin: 0 !important;
        }
        .chart-container {
            width: 50%;
            height: 50%;
            margin: auto;
        }
    </style>
</head>
<!-- begin body -->
<body>
    <img class="left-aligned" src="{{url_for('static', filename='nearmiss1.png') }}" alt="PlanRVA Image">
    <h3>For the PlanRVA Region</h3>
    <body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">Dashboard</a>
                        </li>
                        <!--<li class="nav-item">
                        <a class="nav-link" href="/contact">Data Requests</a>
                        </li>-->
                        <!--<li class="nav-item">
                            <a class="nav-link" href="/about">About the Dashboard</a>
                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link" href="/defs">Helpful Definitions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://planrva.org/">About PlanRVA</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- map -->
        <div class = "map-container">
            <div class="row">
                    <div id="map">
                    </div>
            </div>
        </div>
        <br>
        <!-- chart1 -->
        <div class="row"> 
            <h5>Submitted Event Types</h5>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <br>
        <!-- Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <!-- leaflet and leaflet plugins-->
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
        <!-- Popper -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
        <!-- Chart -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <script>
        // Have the map, setup the custom base map
        var accessToken = 'pk.eyJ1IjoiZWdyZWVud2VsbCIsImEiOiJjbG11bTc4MjcwMHhlMmxwaGNxNmNsYWszIn0.RZ3BCvRRCmJiXBS2Qi16kQ';
        var map = L.map('map').setView([37.54679001050363, -77.45031004048063], 9.35);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            id: 'egreenwell/clmumfc1405gk01maaqrxhmfn',  // Your Mapbox style ID
            accessToken: 'pk.eyJ1IjoiZWdyZWVud2VsbCIsImEiOiJjbG11bTc4MjcwMHhlMmxwaGNxNmNsYWszIn0.RZ3BCvRRCmJiXBS2Qi16kQ',
            tileSize: 512,
            zoomOffset: -1,
            attribution: '&copy; <a href="https://www.mapbox.com/">Mapbox</a>'
        }).addTo(map);
        // defining custom icons based on report type, custom icons class name from CSS
        var customIcons = {
            "Collision": L.divIcon({ 
                html: '<i class="bi bi-geo-alt-fill custom-icon icon-red"></i>', 
                className: '', 
            }),
            "Near Miss": L.divIcon({ 
                html: '<i class="bi bi-geo-alt-fill custom-icon icon-orange"></i>', 
                className: '', 
            }),
            "Dangerous Location": L.divIcon({ 
                html: '<i class="bi bi-geo-alt-fill custom-icon icon-yellow"></i>', 
                className: '', 
            })
        };
        // formatting the datetime string from what is in the JSON to diff.
        function formatDateTime(datetime) {
            const date = new Date(datetime);
            const options = {
                year: 'numeric',
                month: '2-digit',
                day: '2-digit',
                hour: '2-digit',
                minute: '2-digit',
                hour12: true
            };
            return date.toLocaleString('en-US', options);
        }
        // formatting the map popups
        function onEachFeature(feature, layer) {
            if (feature.properties && feature.properties.report_type && feature.properties.datetime) {
                const popupContent = `
                    <strong>Report Type:</strong> ${feature.properties.report_type}<br>
                    <strong>Date and Time:</strong> ${formatDateTime(feature.properties.datetime)}
                `;
                layer.bindPopup(popupContent);
            }
        }
        // Fetch GeoJSON data from '/get-map-data' - backup section to revert to if icons are not working
        //fetch('/get-map-data')
        //    .then(response => response.json())
        //    .then(data => {
                // Add GeoJSON data to the map
        //        L.geoJSON(data.record).addTo(map);
        //    })
        //.catch(error => {
        //    console.error('Error fetching map data:', error);
        //});

         // Fetch GeoJSON data from '/get-map-data'
        fetch('/get-map-data')
            .then(response => response.json())
            .then(data => {
                // Add GeoJSON data to the map with custom icons
                L.geoJSON(data.record, {
                    pointToLayer: function(feature, latlng) {
                        // Determine the appropriate icon based on the report type
                        var reportType = feature.properties.report_type;
                        var icon = L.divIcon({ 
                            html: '<i class="bi bi-geo-alt-fill custom-icon ' + getIconClass(reportType) + '"></i>', 
                        });
                        
                        return L.marker(latlng, { icon: icon });
                    },
                    onEachFeature: onEachFeature // the popup
                }).addTo(map);
            })
            .catch(error => {
                console.error('Error fetching map data:', error);
            });

        // function necessary to get icons to match on the data
        function getIconClass(reportType) {
            switch(reportType) {
                case "Collision": return "icon-red";
                case "Near Miss": return "icon-orange";
                case "Dangerous Location": return "icon-yellow";
            }
        }




        // construct donut chart - chart 1
        // Fetch the GeoJSON data again from the route
        fetch('/get-map-data')
            .then(response => response.json())
            .then(data => {
                // get counts of report types
                const reportTypeCounts = {};
                data.features.forEach(feature => {
                    var reportType = feature.properties.report_type;
                    if (reportTypeCounts[reportType]) {
                        reportTypeCounts[reportType]++;
                    } else {
                        reportTypeCounts[reportType] = 1;
                    }
                });
                // Prepare the data for the chart
                const labels = Object.keys(reportTypeCounts);
                const counts = Object.values(reportTypeCounts);
                // Define colors based on report types
                const colors = labels.map(label => {
                    switch (label) {
                        case "Collision": return "#C84107";
                        case "Near Miss": return "#EE810E";
                        case "Dangerous Location": return "#FBB92C";
                    }
                });
                const ctx = document.getElementById('myChart').getContext('2d');

                const myChart = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Report Type',
                            data: counts,
                            backgroundColor: colors,
                            borderColor: colors.map(color => color), //  the border
                            borderWidth: 1
                        }]
                    },
                    options: {
                        plugins: {
                            legend: {
                                position: 'top',
                            }
                        }
                    }
                });
            });



         </script>
    <!-- footer -->
    <div class="footer">
        <br>
        <img src="{{url_for('static', filename='PlanRVA_White.png') }}" alt=""PlanRVA Image">
        <h2>PlanRVA is where the region comes together to look ahead.</h2>
        <br>
        <p>Made by Elizabeth Greenwell for PlanRVA, 2024. Maitenance and contact: nearmiss@planrva.org</p>
    </div>
</body>
</html>
